$Sapphire: #209fb5;
$Sapphire-transparent: rgba(23, 146, 153, 0.7);
$font-color: #eee;
$border-orange: 0.3rem solid #df8e1d;
$border-pink-small: 0.2rem solid #dc8a78;
$pink: #e64553;
$linear-gradient-default: linear-gradient(to bottom right, rgba(64, 160, 43, 0.5), 80%, rgba(4, 165, 229, 0.5));
